/* Utilise la police Montserrat pour les titres */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #173541;
}

a {
  color: #E95459;
}

/* Ajoute une bordure aux tableaux */
mytable {
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

thead th {
  background-color: #173541;
  color: #ffffff;
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: #FFF1EB;
}

tbody tr:nth-child(odd) {
  background-color: #FAF1E6;
}

tbody td {
  padding: 10px;
}


/* Style des hints */
.myhint {
  background-color: #FFF1EB;
  border: 1px solid #E95459;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 1px 1px 3px #E95459;
}
.myhint a {
  color: #E95459;
}
.myhint:hover {
  box-shadow: 2px 2px 5px #E95459;
}
